[submodule "apps/qtcloud-org"]
	path = apps/qtcloud-org
	url = https://github.com/quanttide/qtcloud-org.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-organization-management.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-organization-management.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-organization-management.git
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-organization-management.git
